@import url('reset.css');


/* ------------font start------------ */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Thin 100 Light 300 Regular 400 Medium 500 Bold 700 Black 900 */

/* notosans */

@font-face {
    font-family: 'EBSHMJESaeronRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHMJESaeronRA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* EBS훈민정음새론체 */

@font-face {
    font-family: 'ChosunSg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 조선고딕 */


html,body{
    width: 100%;
    height: 100%;
}
/* ------------font end------------ */

/*  =================start section 01 ================= */
#section01{
    position: relative;
}
.bg01{
  width: 100%;
  height: 100vh;
  background-image: url('../images/bg01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

}
.bg02{
  width: 100%;
  height: 100vh;
  background-image: url('../images/bg02.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

}
.bg03{
  width: 100%;
  height: 100vh;
  background-image: url('../images/bg03.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

}
/* auto alide end */

.header{
    position: absolute;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.4);
    font-family: 'EBSHMJESaeronRA';
    color: white;
    font-size: 1.1875rem;
}

.logo{
    width: 110px;
    float: left;
    padding: 0 10px;
}

.menu ul{
    float: right;
}
.menu ul li{
    display: inline-block;
    padding: 35px 20px;
}

.menu ul li a:hover{
    color: #d1bb72;
}

.menu-btn {
    float: right;
    font-size: 30px;
    line-height: 70px;
    margin-top: 10px;
    margin-right: 40px;
    color: white;
    cursor: pointer;
    display: none;
  }

/* menu-pc end */

.header-responsive{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.4);
    font-family: 'EBSHMJESaeronRA';
    color: white;
    font-size: 1.1875rem;
    display: none;
}
.logo-responsive{
    width: 110px;
    padding: 0 10px;
}
.menu-responsive{
    text-align: center;
}
.menu-responsive ul li{
    padding: 35px 20px;
}
.menu-responsive ul li a:hover{
    color: #d1bb72;
}
.cancel-btn {
    float: right;
    font-size: 30px;
    line-height: 70px;
    margin-top: 10px;
    margin-right: 40px;
    color: white;
    cursor: pointer;
  }

/* menu-responsive end */

/*  =================section 01 end================= */

/*  =================start section 02================= */
.sec02-wrap{
    width: 100%;
    background-image: url('../images/d85bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
/* bg end */

  /* start sec02-contents  */
  .sec02-contents{
    color: white;
    text-align: center;
    padding-top: 6%;
  }
  .cn{
    font-family: 'ChosunSg';
    font-size: 2.5rem;
    letter-spacing: 7px;
    margin-bottom: 1%;
  }
  .kr{
    font-family: 'EBSHMJESaeronRA';
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 1.5%;
  }
  .sec02-normal{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 50px;
  }
  .br{
    display: none;
  }
  /* sec02-contents end */

/* --- Start progress bar --- */
.process-wrapper {
    max-width:1080px; 
    height: 100px;
    margin:auto;
    padding-top: 17%;
 }
 
 #progress-bar-container {
    width: 80%;
    margin:auto;
    position:relative;
 }
 
 #progress-bar-container ul {
    width:100%;
    padding:0;
    margin:0;
    position:absolute;
    z-index:9999;
 }
 
 #progress-bar-container li {
    width:20%;
    height:60px;
    float:left;
    position:relative;
    transition:all ease 0.2s;
    cursor:pointer;
    color:#aaa;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size:11px;
    list-style:none;
    text-align:center;
 }
 
 #progress-bar-container li .step-inner {
    width:100%;
    position:absolute;
    bottom: 10px;
     font-size: 14px;
 }
 
 #progress-bar-container li.active, #progress-bar-container li:hover {
    color: #aaa;
 }
 
 #progress-bar-container li:after {
    width:6px;
    height:6px;
    content:" ";
    display:block;
    background:#777;
    border:solid 7px #fff;
    border-radius:50%;
    box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
    transition:all ease 0.2s;
     margin:auto; 
 }
 
 #progress-bar-container li:hover:after {
    background:#d1bb72;
 }
 
 #progress-bar-container li.active:after {
    background:#d1bb72;
 }
 
 #progress-bar-container #line {
    width:80%;
    height:3.5px;
    background: #eee;
    border-radius:50px;
    transition:all ease 0.9s;
    position:absolute;
    margin:auto;
    bottom: -12px;
    left:10%;
    z-index:1;
 }
 
 #progress-bar-container #line-progress {
    width:3%;
    height:100%;
    content:" ";
    background: #d1bb72;    
    background: linear-gradient(to right, #d1bb72 0%,#d1bb72 100%); 
    border-radius:50px;
    position:absolute;
    transition:all ease 0.9s;
    z-index:2;
 }
 
 /* progress bar end */
 
/* start popup wrap */
.popupbg{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .popup{
  width: 60%;
  /* height: 65%; */
  background: rgba(0,0,0,.5);
  border: 1.5px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  }
  .popup label{
    background: rgba(0,0,0,.7);
    border: 1px solid white;
    border-radius: 100%;
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1;
  }
  
  .popup label:before{
    content: '';
    height: 35px;
    border: solid;
    border: 1.5px solid white;
    border-width: 0 2px 0 0;
    transform: rotate(45deg);
    position: absolute;
    top: 3px;
    left: 18px;
    
  }
  .popup label:after{
  content: '';
  height: 35px;
  border: 1.5px solid white;
  border-width: 0 2px 0 0;
  transform: rotate(-45deg);
  position: absolute;
  top: 3px;
  left: 18px;
  }
  .popup,.popupbg{
  display: none;
  }
  /* popup wrap end */

  .popup-contents-wrap{
    width: 80%;
    margin: auto;
  }
  .popup-title{
    color:#d1bb72;
    font-size: 40px;
    text-align: center;
    padding: 20px 20px 15px 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
  }
  .x{
    color: #777;
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
  }

  .popup-normal{
    color: #a0a0a0;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
  }
  .popup-w-25{
    width: 22%;
    float: left;
    margin-right: 3%;
    text-align: center;
  }
  .popup-img{
    width: 100%;
    height: 40%;
    padding-bottom: 10px;
  }
  .name{
    color: #a0a0a0;
    padding: 5px 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
  }
  .popup-img-ex{
    color: white;
    padding-bottom: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
  }
  .block{
    display: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
  }
  /* start popup contents wrap */
  
  
  /* popup end */



/*  =================section 02 end================= */



/*  =================Start section 03================= */
.sec03-wrap{
  width: 100%;
  background: #282828;
  margin: 0 auto;
  position: relative;
  float: left;
}
/* bg end */
.sec03-title-wrap{
  padding: 2% 0% 0% 2%;
}
.tourcourse{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 4.5rem;
  font-weight: 500;
  color: white;
  padding-bottom: 0.6rem;
}
.sec03-normal{
  font-size: 1.5rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  letter-spacing:0.18%;
  color: #888888;
  padding-bottom: 4%;
}

/* sec03-title wrap end */
.guide-menu-wrap{
  width: 30%;
  float: left;
}
.guide-width{
  width: 100%;
  float: left;
}

.map-menu-01{
  float: left;
}
.circle{
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #d3b460;
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
  text-align: center;
  line-height: 25px;
  margin-bottom: 4%;
  margin-left: 6%;
}
.guideMap-menu{
  float: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-left: 1%;
}
/* guide-menu-wrap end */

.guideMap{
  width: 70%;
  position: relative;
  float: left;
}
#guide-map{
  width: 75%;
  position: relative;
}
/* main-map end */

/* 지도 버튼 */
.guidemap-btn01{
  position: absolute;
    width: 11%;
    height: 2%;
    transform: skew(-31deg) rotate(24deg);
    top: 83.1%;
    right: 81%;
    cursor: pointer;
}
.guidemap-btn02{
  position: absolute;
  width: 12%;
  height: 10%;
  transform: skew(-40deg) rotate(20deg);
  top: 56.9%;
  right: 64.9%;
  cursor: pointer;
}
.guidemap-btn03{
  position: absolute;
  width: 9%;
  height: 2.5%;
  transform: skew(-32deg) rotate(22deg);
  top: 54.1%;
  right: 61%;
  cursor: pointer;
}
.guidemap-btn04{
  position: absolute;
  width: 11%;
  height: 3.5%;
  transform: skew(-30deg) rotate(22deg);
  top: 50.1%;
  right: 58%;
  cursor: pointer;
}
.guidemap-btn05{
  position: absolute;
  width: 6.8%;
  height: 4.3%;
  transform: skew(-28deg) rotate(23deg);
  top: 45.7%;
  right: 57%;
  cursor: pointer;
}
.guidemap-btn06{
  position: absolute;
  width: 8.4%;
  height: 4.7%;
  transform: skew(-35deg) rotate(20deg);
  top: 46.2%;
  right: 46.4%;
  cursor: pointer;
}
.guidemap-btn07{
  position: absolute;
  width: 10%;
  height: 5%;
  transform: skew(-40deg) rotate(20deg);
  top: 59.9%;
  right: 53.9%;
  cursor: pointer;
}
.guidemap-btn08{
  position: absolute;
  width: 9%;
  height: 8%;
  transform: skew(-39deg) rotate(17deg);
  top: 21%;
  right: 39.9%;
  cursor: pointer;
}
.guidemap-btn09{
  position: absolute;
  width: 9%;
  height: 5%;
  transform: skew(-43deg) rotate(20deg);
  top: 15%;
  right: 34.9%;
  cursor: pointer;

}
.guidemap-btn10{
  position: absolute;
  width: 7%;
  height: 2%;
  transform: skew(-43deg) rotate(20deg);
  top: 9.5%;
  right: 40.9%;
  cursor: pointer;
}
.guidemap-btn11{
  position: absolute;
  width: 12%;
  height: 7%;
  transform: skew(-40deg) rotate(15deg);
  top: 5.5%;
  right: 50.9%;
  cursor: pointer;
}
.guidemap-btn12{
  position: absolute;
  width: 14.5%;
  height: 9%;
  transform: skew(-44deg) rotate(18deg);
  top: 36.5%;
  right: 63%;
  cursor: pointer;
}
.guidemap-btn13{
  position: absolute;
  width: 7.5%;
  height: 3%;
  transform: skew(-44deg) rotate(18deg);
  top: 48.7%;
  right: 70%;
  cursor: pointer;
}
.guidemap-btn14{
  position: absolute;
  width: 8.5%;
  height: 7.8%;
  transform: skew(-41deg) rotate(18deg);
  top: 51.7%;
  right: 50%;
  cursor: pointer;
}

/* guideMap end */

/* start popup wrap */
.map-popupbg{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.map-popup{
width: 35%;
/* height: 65%; */
background: rgba(0,0,0,.5);
border: 1.5px solid white;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
}
.map-popup label{
  background: rgba(0,0,0,.7);
  border: 1px solid white;
  border-radius: 100%;
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);
  padding: 15px;
  z-index: 1;
}

.map-popup label:before{
  content: '';
  height: 25px;
  border: solid;
  border: 1.5px solid white;
  border-width: 0 2px 0 0;
  transform: rotate(45deg);
  position: absolute;
  top: 3px;
  left: 14px;
  
}
.map-popup label:after{
content: '';
height: 25px;
border: 1.5px solid white;
border-width: 0 2px 0 0;
transform: rotate(-45deg);
position: absolute;
top: 3px;
left: 14px;
}
.map-popup,.map-popupbg{
display: none;
}
/* map-popup wrap end */
/* map-popup-contents-wrap */
.map-popup-wrap{
  width: 80%;
  margin: 0 auto;
}
.map-popup-title{
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin:  5% 0% 4% 0%;
}
.map-popup-img{
  width: 100%;
}
.map-popup-normal{
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 200;
  margin:  3% 0 5% 0%;
}

/* map-popup-contents-wrap-end */
/*  =================section 03 end================= */


/*  =================Start section 04================= */
#section04{
  width: 100%;
  background-image: url('../images/d85bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
}
.sec04-wrap{
  width: 80%;
  margin: 0 auto;
}
.sec04-title-contents-wrap{
  margin-top: 4%;
  width:40%;
  float: left;
}
.sec04-title{
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 4.5rem;
  font-weight: 500;
  padding-bottom: 1.1%;
}
.sec04-normal{
  color: #777;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 3px;
  font-weight: 300;
  padding-bottom: 10%;
}
/* sec04-title-wrap end */

.sec04-subtitle{
  color: #777;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 4.4rem;
  letter-spacing: 3px;
  font-weight: 500;
  opacity: .4;
  float: left;
  position: absolute;
}

.sec04-sub-en{
  float: left;
  color: #d1bb72;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 3px;
  font-weight: 300;
 margin-top: 28px;
 margin-left: 0%;
}
.sec04-sub-ko{
  color: rgb(172, 172, 172);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 3px;
  font-weight: 300;
  padding-left: 30px;
}
.sec04-subtitle-ex{
  color: #d1bb72;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 3px;
  font-weight: 300;
 margin-top: 5.5%;
}
/* 타이틀 end */
.sec04-main-contents-wrap{
  width: 60%;
  float: left;
  margin-top: 4%;
}
.sec04-img{
  width: 100%;
  background-color: #d1bb72;
  height: 200px;
  margin-bottom: 3%;
}
/* 사진 */
.sec04-contents-ex{
  color: rgb(174, 174, 174);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.0rem;
  letter-spacing: 2px;
  line-height: 1.4rem;
  font-weight: 300;
  margin-bottom: 3%;
  margin-left: 2%;
}

td{
  color: rgb(174, 174, 174);
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
}
.sec04-ex{
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
}
.sec04-num{
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
}
.sec04-tab-02,.sec04-tab-03{
  display: none;
}
/* 컨텐츠 */
/* 
.sec04-line-wrap{
  width: 100%;
  margin: 2%;
}
.sec04-line-contents{
  width: 100%;
  margin: 0 auto;
}
.line-01-wrap,.line-02-wrap,.line-03-wrap{
  padding:2%;
  float: left;
  margin: 0 auto;
  text-align: center;
  border: #777 1px solid;
}

.line-01:hover,.line-02:hover,.line-03:hover{
  background: #d1bb72;
}
.line-01,.line-02,.line-03{
  width:6px;
  height:6px;
  content:" ";
  display:block;
  background:#777;
  border:solid 7px #fff;
  border-radius:50%;
  box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
  transition:all ease 0.2s;
  margin: 0 19px;
  cursor: pointer;
}

.line-01-ko,.line-02-ko,.line-03-ko{
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.0rem;
  font-weight: 200;
  text-align: center;
  margin-top: 10px;
}
 */

.sec04-line-wrap{
  width: 100%;
  margin: 2% 0 0 0;
}

.line-01-ko:hover,.line-02-ko:hover,.line-03-ko:hover{
  color: black;
  background-color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.0rem;
  font-weight: 400;
}
.line-01-ko,.line-02-ko,.line-03-ko{
  width: 33%;
  padding: 2% 0;
  float: left;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.0rem;
  font-weight: 200;
  text-align: center;
  border: 1px solid #777;
}
/*  =================section 04 end================= */



/*  =================start media query================= */
@media(max-width:1440px){
  .sec04-title-contents-wrap{
    width: 100%;
  }
  .sec04-title-wrap{
    float: left;
  }
  .sec04-main-contents-wrap{
    width: 100%;
  }
  .sec04-subtitle-wrap{
    float: right;
    margin-top: 2%;
  }
  .sec04-subtitle-ex{
    display: none;
  }
}

@media (max-width:1025px){
/* section02  */
    .sec02-contents{
        color: white;
        text-align: center;
        padding-top: 20%;
      }
      .sec02-normal{
        line-height: 60px;
      }
      /* sec02-contents end */
    .process-wrapper {
        padding-top: 50%;
     }
/* section02 end */
.guidemap-btn01 {
  right: 76%;
}
.guidemap-btn02 {
  width: 15%;
  height: 12%;
  right: 54%;
}
.guidemap-btn03 {
  right: 50%;
}
.guidemap-btn04 {
  right: 46%;
}
.guidemap-btn05 {
  right: 44%;
}
.guidemap-btn06 {
  right: 30.4%;
}
.guidemap-btn07 {
  right: 39.9%;
}
.guidemap-btn08 {
  width: 13%;
  height: 7%;
  top: 21%;
  right: 19.9%;
}

.guidemap-btn09 {
  right: 13.9%;
}
.guidemap-btn10 {
  right: 21.9%;
}
.guidemap-btn11 {
  width: 13%;
  right: 36.9%;
}
.guidemap-btn12{
  top: 37.5%;
  right: 52%;
}
.guidemap-btn13 {
  right: 62%;
}
.guidemap-btn14 {
  width: 11.5%;
  height: 6.8%;
  top: 51.7%;
  right: 34%;
}
/* 지도 위치 end */
.map-popup {
  width: 80%;
}
.tourcourse {
  padding-top: 0.6rem;
}
.guide-menu-wrap {
  width: 100%;
}
.guide-width {
  width: 15%;
}
.circle {
  margin-bottom: 10%;
  margin-left: 15%;
}
.guideMap {
  width: 100%;
  margin: 10% 0%;
}
#guide-map {
  width: 100%;
}
/* section03 end */
}

@media(max-width:822px){
  .sec04-title-wrap {
    float: none;
}
.sec04-subtitle-wrap {
  float: none;
  /* margin-top: 2%; */
}
.sec04-normal {
  padding-bottom: 5%;
}
.sec04-img {
  margin-top: 3%;
}
.line-01-ko, .line-02-ko, .line-03-ko {
  width: 32.6%;
}
/* section04 end */
}
 /* ========822 end======== */
@media (max-width:769px){
    .menu ul li{
        display: none;
    }
    .menu-btn{
        display: block;
    }
    /* section01-end */
    
    .cn{
        font-size: 2.0rem;
        margin-bottom: 2%;
      }
      .kr{
        font-size: 4.3rem;
        margin-bottom: 2%;
      }
      .sec02-normal{
        font-size: 1.3rem;
        line-height: 45px;
      }
      /* sec02-contents end */
      .process-wrapper {
        padding-top: 60%;
     }
     /* process end */
     .popup-title{
       font-size: 31px;
     }
     .x{
       font-size: 29px;
     }
     .popup-normal{
       font-size: 16px;
     }
     .name,.popup-img-ex{
       font-size: 13px;
     }
     /* popup contents end */

      /* section02-end */

      .guidemap-btn01 {
        top: 83.1%;
        right: 76%;
      }
      .guidemap-btn02 {
        width: 15%;
        height: 11%;
        top: 56.9%;
        right: 53.9%;
      }
      .guidemap-btn03 {
        right: 50%;
      }
      .guidemap-btn04 {
        width: 11%;
        height: 3.5%;
        top: 50.1%;
        right: 45%;
      }
      .guidemap-btn05 {
        width: 6.8%;
        height: 5.3%;
        top: 44.7%;
        right: 44%;
      }
      .guidemap-btn06 {
        right: 30.4%;
      }
      .guidemap-btn07 {
        right: 39.9%;
      }
      .guidemap-btn08 {
        width: 12%;
        height: 7%;
        top: 21%;
        right: 20.9%;
    }
    .guidemap-btn09 {
      right: 13.9%;
    }
    .guidemap-btn10 {
      right: 22.9%;
    }
    .guidemap-btn11 {
      width: 14%;
      height: 8%;
      top: 5.5%;
      right: 35.9%;
    }
    .guidemap-btn12 {
      right: 52%;
    }
    .guidemap-btn13 {
      right: 61%;
    }
    .guidemap-btn14 {
      width: 11.5%;
      height: 6.8%;
      top: 52.7%;
      right: 33%;
    }
      /* guidemap 위치 end */
      .guide-menu-wrap {
        width: 60%;
        float: left;
      }
      .guide-width {
        width: 25%;
        float: left;
      }
      .circle {
        float: left;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        background: #d3b460;
        font-family: 'Noto Sans KR', sans-serif;
        color: white;
        text-align: center;
        line-height: 25px;
        margin-bottom: 18%;
        margin-left: 20%;
      }
      .guideMap {
        width: 100%;
        position: relative;
        float: left;
        margin: 5% 0%;
      }
      #guide-map {
        width: 100%;
        position: relative;
    }
      /* section03 end */
      .sec04-title{
        font-size: 4.2rem;
      }
      .sec04-normal{
        font-size: 1.2rem;
      }
      /* section04 end */
}
  /* ========769 end======== */

@media(max-width:691px){
   /* section02 */
   .cn{
    font-size: 1.5rem;
  }
  .kr{
    font-size: 3.1rem;
  }
  .sec02-normal{
    font-size: 0.9rem;
    line-height: 30px;
  }

  /* popup start */
  /* popup */
  .popup {
    width: 75%;
    background: rgba(0,0,0,.5);
    border: 1.5px solid white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
  .popup label {
    background: rgba(0,0,0,.7);
    border: 1px solid white;
    border-radius: 100%;
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-50%, -50%);
    padding: 14px;
    z-index: 1;
    cursor: pointer;
  }
  .popup label:after {
    content: '';
    height: 20px;
    border: 1.5px solid white;
    border-width: 0 2px 0 0;
    position: absolute;
    top: 4px;
    left: 13px;
    cursor: pointer;
}
.popup label:before {
  content: '';
  height: 20px;
  border: solid;
  border: 1.5px solid white;
  border-width: 0 2px 0 0;
  position: absolute;
  top: 4px;
  left: 13px;
  cursor: pointer;
}
  /* popup end */
  .sec03-title-wrap {
    padding: 5% 0% 5% 2%;
}
  .popup-title{
    font-size: 28px;
  }
  .x{
    font-size: 24px;
  }
  .popup-normal{
    font-size: 15px;
    line-height: 20px;
  }
  /* popup contents end */

  /* section02 end */
  .tourcourse {
    font-size: 3.1rem;
  }
  .sec03-normal {
    font-size: 1.2rem;
    padding-bottom: 5%;
  }
  .guide-menu-wrap {
    width: 62%;
  }
  .guide-width {
    width: 25%;
  }
  .circle {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 16%;
    margin-left: 15%;
  }
  .guideMap-menu {
    font-size: 16px;
    margin-left: 4%;
  }

  /* popup contents start */
  .map-popup-title {
    font-size: 1.5rem;
    margin: 7% 0% 5% 0%;
  }
  .map-popup-normal {
    font-size: 0.7rem;
    margin: 4% 0 4% 0%;
  }
  /* section03 end */
}

@media(max-width:541px){

     /* section02 */
  .cn{
    font-size: 1.5rem;
  }
  .kr{
    font-size: 3.1rem;
  }
  .sec02-normal{
    font-size: 0.9rem;
    line-height: 30px;
  }

  /* popup start */
  /* popup */
  .popup {
    width: 75%;
    background: rgba(0,0,0,.5);
    border: 1.5px solid white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
  .popup label {
    background: rgba(0,0,0,.7);
    border: 1px solid white;
    border-radius: 100%;
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-50%, -50%);
    padding: 14px;
    z-index: 1;
    cursor: pointer;
  }
  .popup label:after {
    content: '';
    height: 20px;
    border: 1.5px solid white;
    border-width: 0 2px 0 0;
    position: absolute;
    top: 4px;
    left: 13px;
    cursor: pointer;
}
.popup label:before {
  content: '';
  height: 20px;
  border: solid;
  border: 1.5px solid white;
  border-width: 0 2px 0 0;
  position: absolute;
  top: 4px;
  left: 13px;
  cursor: pointer;
}
  /* popup end */
  .sec03-title-wrap {
    padding: 5% 0% 5% 2%;
}
  .popup-title{
    font-size: 28px;
  }
  .x{
    font-size: 24px;
  }
  .popup-normal{
    font-size: 15px;
    line-height: 20px;
  }
  /* popup contents end */

  /* section02 end */
  .tourcourse {
    font-size: 3.1rem;
  }
  .sec03-normal {
    font-size: 1.2rem;
    padding-bottom: 5%;
  }
  .guide-menu-wrap {
    width: 62%;
  }
  .guide-width {
    width: 25%;
  }
  .circle {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 16%;
    margin-left: 15%;
  }
  .guideMap-menu {
    font-size: 16px;
    margin-left: 4%;
  }

  /* popup contents start */
  .map-popup-title {
    font-size: 1.5rem;
    margin: 7% 0% 5% 0%;
  }
  .map-popup-normal {
    font-size: 0.7rem;
    margin: 4% 0 4% 0%;
  }
  /* section03 end */

}
 /* ========514 end======== */
@media(max-width:525px){
  .guide-menu-wrap {
    width: 100%;
  }
  .guide-width {
    width: 20%;
  }
  .circle {
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-bottom: 18%;
    margin-left: 15%;
  }
  .guideMap {
    margin: 15% 0%;
  }
  .circle {
    margin-bottom: 20%;
    font-size: 16px;
  }
  .guideMap-menu {
    font-size: 14px;
    margin-left: 4%;
    line-height: 21px;
  }
  /* section03 end */
}


@media(max-width:415px){
/* section02 */
    .cn{
        font-size: 1.3rem;
        letter-spacing: 5px;
      }
      .kr{
        font-size: 2.5rem;
      }
      .sec02-normal{
        font-size: 0.9rem;
        line-height: 27px;
      }
      .br{
        display: block;
      }
      .no{
        display: none;
     }
     /* sec02-contents end */
     #progress-bar-container li .step-inner{
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 300;
     }
     /* progress end */
     .popup-title{
      font-size: 21px;
    }
    .x{
      font-size: 19px;
    }
    .popup-normal{
      font-size: 11px;
      padding-bottom: 20px;
    }
    .float{
      float: left;
    }

    .popup-w-25{
      width: 30%;
      float: left;
      padding: 0% 10% 0% 10%;
      margin-right: 0;
      text-align: center;
    }
    .popup-img{
      width: 100%;
      height: 40%;
      padding-bottom: 10px;
    }
    .name{
      color: #a0a0a0;
      padding: 5px 0px;
    }
    .popup-img-ex{
      color: white;
      padding-bottom: 10px;
    }
    .none{
      display: none;
    }
    .block{
      display: block;
    }
     /* popup end */
/* section02 end */
.guide-menu-wrap {
  width: 100%;
}
.guide-width {
  width: 25%;
}
.circle {
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 18%;
  margin-left: 15%;
}
.guideMap {
  margin: 15% 0%;
}
.circle {
  margin-bottom: 20%;
  font-size: 14px;
}
.guideMap-menu {
  font-size: 14px;
  margin-left: 4%;
  line-height: 21px;
}
/* section03 end */
}
 /* ========415 end======== */

 @media(max-width:376px){
        /* start popup */
        .popup-title{
          font-size: 18px;
        }
        .x{
          font-size: 16px;
        }
        .popup-normal{
          padding-bottom: 10px;
        }
        .popup-img-ex{
          color: white;
          padding-bottom: 5px;
        }
        .name,.popup-img-ex{
          font-size: 11px;
        }
         /* popup end */
    /* section02 end */
 }
/* ========375 end======== */
@media(max-width:321px){
  /* start popup */
  .popup-title{
    font-size: 16px;
  }
  .popup-normal{
    padding-bottom: 3px;
  }
  .name,.popup-img-ex{
    font-size: 10px;
  }
   /* popup end */
/* section02 end */
.tourcourse {
  font-size: 2.5rem;
}
.sec03-normal {
  font-size: 1.0rem;
  padding-bottom: 5%;
}
.guide-width {
  width: 30%;
}
.circle {
  margin-bottom: 16%;
}
.guideMap {
  margin: 10% 0% 8% 0%;
}

/* section03 end */
}
/* ========375 end======== */

@media(max-width:281px){
  /* start popup */
  .popup-title{
    font-size: 13px;
  }
  .popup-normal{
    line-height: 16px;
  }
   /* popup end */
/* section02 end */
}
/* ========375 end======== */

/*  =================media query end================= */